@rendermode InteractiveServer

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            
            <FluentNavGroup Title="General">
                <FluentNavLink Href="pkg-general" Icon="@(new Icons.Regular.Size20.Notebook())" IconColor="Color.Accent">Details</FluentNavLink>
                <FluentNavGroup Title="Extensions">
                    <FluentNavLink Href="pkg-general-exceptions" Icon="@(new Icons.Regular.Size20.CommentError())" IconColor="Color.Accent">Exceptions</FluentNavLink>
                    <FluentNavLink Href="pkg-general-numbers" Icon="@(new Icons.Regular.Size20.NumberSymbol())" IconColor="Color.Accent">Numbers</FluentNavLink>
                    <FluentNavLink Href="pkg-general-strings" Icon="@(new Icons.Regular.Size20.BookLetter())" IconColor="Color.Accent">Strings</FluentNavLink>
                </FluentNavGroup>
                <FluentNavGroup Title="Classes">
                    <FluentNavLink Href="pkg-general-enumlist" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">EnumList</FluentNavLink>
                    <FluentNavLink Href="pkg-general-nrange" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">NRange</FluentNavLink>
                    <FluentNavLink Href="pkg-general-statemodel" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">StateModel</FluentNavLink>
                </FluentNavGroup>
            </FluentNavGroup>

            <FluentNavGroup Title="Components">
                <FluentNavLink Href="pkg-components" Icon="@(new Icons.Regular.Size20.Notebook())" IconColor="Color.Accent">Details</FluentNavLink>
                <FluentNavGroup Title="Css">
                    <FluentNavLink Href="pkg-components-cssid" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">Css Id</FluentNavLink>
                    <FluentNavLink Href="pkg-components-colors" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">Colors</FluentNavLink>
                </FluentNavGroup>
                <FluentNavGroup Title="Components">
                    <FluentNavLink Href="pkg-components-slideshow" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">Slide Show</FluentNavLink>
                </FluentNavGroup>
                <FluentNavGroup Title="Services">
                    <FluentNavLink Href="pkg-components-resize" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">Resize Observer</FluentNavLink>
                </FluentNavGroup>
            </FluentNavGroup>

            <FluentNavGroup Title="Components (Fluent)">
                <FluentNavLink Href="pkg-components-ui" Icon="@(new Icons.Regular.Size20.Notebook())" IconColor="Color.Accent">Details</FluentNavLink>
                <FluentNavLink Href="pkg-components-ui-input" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">UI Input</FluentNavLink>
            </FluentNavGroup>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}
