@rendermode InteractiveServer
@inject IDemoConfiguration DemoConfiguration

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            
            <FluentNavGroup Title="General" Icon="@(new Icons.Regular.Size20.GroupList())" IconColor="Color.Accent">
                <FluentNavLink Href="pkg-general" Icon="@(new Icons.Regular.Size20.Notebook())" IconColor="Color.Accent">Details</FluentNavLink>
                <FluentNavGroup Title="Extensions" Icon="@(new Icons.Regular.Size20.GroupList())" IconColor="Color.Accent">
                    <FluentNavLink Href="pkg-general-exceptions" Icon="@(new Icons.Regular.Size20.CommentError())" IconColor="Color.Accent">Exceptions</FluentNavLink>
                    <FluentNavLink Href="pkg-general-numbers" Icon="@(new Icons.Regular.Size20.NumberSymbol())" IconColor="Color.Accent">Numbers</FluentNavLink>
                    <FluentNavLink Href="pkg-general-strings" Icon="@(new Icons.Regular.Size20.BookLetter())" IconColor="Color.Accent">Strings</FluentNavLink>
                </FluentNavGroup>
                <FluentNavGroup Title="Classes" Icon="@(new Icons.Regular.Size20.GroupList())" IconColor="Color.Accent">
                    <FluentNavLink Href="pkg-general-enumlist" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">EnumList</FluentNavLink>
                    <FluentNavLink Href="pkg-general-nrange" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">NRange</FluentNavLink>
                    <FluentNavLink Href="pkg-general-statemodel" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">StateModel</FluentNavLink>
                </FluentNavGroup>
            </FluentNavGroup>

            <FluentNavGroup Title="Components" Icon="@(new Icons.Regular.Size20.GroupList())" IconColor="Color.Accent">
                <FluentNavLink Href="pkg-components" Icon="@(new Icons.Regular.Size20.Notebook())" IconColor="Color.Accent">Details</FluentNavLink>
                <FluentNavGroup Title="Css" Icon="@(new Icons.Regular.Size20.GroupList())" IconColor="Color.Accent">
                    <FluentNavLink Href="pkg-components-cssid" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">Css Id</FluentNavLink>
                    <FluentNavLink Href="pkg-components-colors" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">Colors</FluentNavLink>
                </FluentNavGroup>
                <FluentNavGroup Title="Components" Icon="@(new Icons.Regular.Size20.GroupList())" IconColor="Color.Accent">
                    <FluentNavLink Href="pkg-components-slideshow" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">Slide Show</FluentNavLink>
                </FluentNavGroup>
                <FluentNavGroup Title="Services" Icon="@(new Icons.Regular.Size20.GroupList())" IconColor="Color.Accent">
                    <FluentNavLink Href="pkg-components-geolocation" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">Geolocation</FluentNavLink>
                    <FluentNavLink Href="pkg-components-jslogger" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">JS Logger</FluentNavLink>
                    <FluentNavLink Href="pkg-components-resize" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">Resize Observer</FluentNavLink>
                </FluentNavGroup>
            </FluentNavGroup>

            <FluentNavGroup Title="Components (Fluent)" Icon="@(new Icons.Regular.Size20.GroupList())" IconColor="Color.Accent">
                <FluentNavLink Href="pkg-components-ui" Icon="@(new Icons.Regular.Size20.Notebook())" IconColor="Color.Accent">Details</FluentNavLink>
                <FluentNavLink Href="pkg-components-ui-input" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">UI Input</FluentNavLink>
                <FluentNavGroup Title="Theme" Icon="@(new Icons.Regular.Size20.GroupList())" IconColor="Color.Accent">
                    <FluentNavLink Href="pkg-components-ui-theme-select" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">Theme Select</FluentNavLink>
                    <FluentNavLink Href="pkg-components-ui-theme-toggle" Icon="@(new Icons.Regular.Size20.DesignIdeas())" IconColor="Color.Accent">Theme Toggle</FluentNavLink>
                </FluentNavGroup>
            </FluentNavGroup>

            <FluentNavGroup Title="Azure Maps" Icon="@(new Icons.Regular.Size20.GroupList())" IconColor="Color.Accent">
                <FluentNavLink Href="pkg-azure-maps" Icon="@(new Icons.Regular.Size20.Notebook())" IconColor="Color.Accent">Details</FluentNavLink>
                <FluentNavLink Href="basic-maps" Icon="@(new Icons.Regular.Size20.Map())" IconColor="Color.Accent">Basic</FluentNavLink>
                <FluentNavLink Href="map-controls" Icon="@(new Icons.Regular.Size20.Map())" IconColor="Color.Accent">Controls</FluentNavLink>
                <FluentNavLink Href="custom-maps" Icon="@(new Icons.Regular.Size20.Map())" IconColor="Color.Accent">Custom</FluentNavLink>
                <FluentNavGroup Title="Events" Icon="@(new Icons.Regular.Size20.GroupList())">
                    <FluentNavLink Href="map-events-map" Icon="@(new Icons.Regular.Size20.Map())" IconColor="Color.Accent">Map</FluentNavLink>
                    <FluentNavLink Href="map-events-controls" Icon="@(new Icons.Regular.Size20.Map())" IconColor="Color.Accent">Controls</FluentNavLink>
                    <FluentNavLink Href="map-events-layer" Icon="@(new Icons.Regular.Size20.Map())" IconColor="Color.Accent">Layer</FluentNavLink>
                </FluentNavGroup>
                <FluentNavLink Href="multiple-maps" Icon="@(new Icons.Regular.Size20.Multiplier2x())" IconColor="Color.Accent">Multiple</FluentNavLink>
            </FluentNavGroup>

            @if (isAspire)
            {
                <FluentNavGroup Title="Aspire" Icon="@(new Icons.Regular.Size20.GroupList())" IconColor="Color.Accent">
                    <FluentNavLink Href="aspire-details" Icon="@(new Icons.Regular.Size20.Notebook())" IconColor="Color.Accent">Details</FluentNavLink>
                    <FluentNavLink Href="aspire-newsletter" Icon="@(new Icons.Regular.Size20.News())" IconColor="Color.Accent">Newsletter</FluentNavLink>
                </FluentNavGroup>
            }
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
    private bool isAspire => DemoConfiguration.Mode == DemoMode.Aspire;
}
