<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Marqdouj.DotNet.Demo.styles.css"]" />
    <link rel="stylesheet" href="@LinkExtensions.Markdown">
    @* Azure Maps SDK *@
    <link rel="stylesheet" href="@LinkExtensions.AtlasMinCss" type="text/css">
    <script src="@LinkExtensions.AtlasMinJs"></script>
    <ImportMap />
    <AppIcon/>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="_framework/blazor.web.js"></script>

    @* Add the script for Marqdouj.DotNet.AzureMaps *@
    <script src="@LinkExtensions.MarqdoujAzureMapsJs"></script>

    @* Add the script required for Anonymous authentication (if applicable) *@
    @* <script type="text/javascript">
        marqdoujAzureMaps.MapFactory.getAuthTokenCallback = (resolve, reject, map) => {
            DotNet.invokeMethodAsync('Marqdouj.DotNet.Demo', 'GetAccessToken')
            .then(function (response) {
                return response;
            }).then(function (token) {
                resolve(token);
            });
        };
    </script> *@
</body>

</html>
