@inject ILogger<BasicEventsS> Logger
@inject IToastService ToastService
@inject IMapDataService DataService

<PageTitle>Basic Events</PageTitle>

<FluentLayout>
    <MapPageHeader Header="Basic Events<" LayerDef="@null" HRefSource="@hRefSource">
        <FluentLabel>
            This example demonstrates dynamically adding/removing the Click, MouseMove, and MouseOut events.
            <br />
            NOTE: The map events could have been automtically subscribed to when the map loads using 
            either on of the 'AzureMap.Events' or 'AzureMap.EventDef' parameters.
            <br /><br />
            Add/Remove the events with the 'Map Events' checkbox.
            <br /><br />
            When the events are added,
            if you click on the map, the AzureMap will raise an 'OnMapEventMouse' notification.
            <br />
            The Click event notification will be displayed as a toast.
            <br />
            The MouseMove event notifications will be displayed to the right of the map.
            <br />
            The MouseOut event notifications will clear the display to the right of the map.
            <br /><br />
            Use the "Reset Map" button to reset the map to its initial state.
        </FluentLabel>
    </MapPageHeader>

    <FluentToolbar>
        <FluentButton Disabled="@disabled" IconStart="@(new Icons.Regular.Size20.ArrowReset())" Title="Reset Map" OnClick="@ResetMap" />
        <FluentCheckbox Disabled="@disabled" @bind-Value:get="@addMapEvents" @bind-Value:set="OnMapEventsCheckedChanged">Map Events</FluentCheckbox>

    </FluentToolbar>

    <FluentStack>
        <FluentCard>
            <AzureMap Height="@mapHeight"
                      Width="@mapWidth"
                      Controls="@MapHelpers.GetDefaultControls()"
                      OnMapReady="@OnMapReady"
                      OnMapEventMouse="OnMapEventMouse"
                      Options="@MapHelpers.GetDefaultCreateMapOptions()" />
        </FluentCard>
        <FluentCard>
            <FluentStack Orientation="Orientation.Vertical">
                <FluentLabel Typo="Typography.Body">Pixel: @mouseDisplay.Pixel?.ToString()</FluentLabel>
                <FluentLabel Typo="Typography.Body">Position: @mouseDisplay.Position?.ToString()</FluentLabel>
                <FluentLabel Typo="Typography.Subject">Shapes</FluentLabel>
                <div class="display-events-div">
                    <ShapesGrid Items="@mouseDisplay.Shapes" />
                </div>
            </FluentStack>
        </FluentCard>
    </FluentStack>


</FluentLayout>

<FluentOverlay @bind-Visible="@overlay"
               Transparent="false">
    <FluentProgressRing />
</FluentOverlay>

<style>
    .display-events-div {
        overflow: auto;
        height: 300px;
        width: 100%;
    }
</style>

@code {
    private bool overlay;
    private string hRefSource => nameof(BasicEventsS).ToMapEventsPageSource();
    private string mapHeight = "400px";
    private string mapWidth = "100%";
    private MapOptionsSet options = MapHelpers.GetDefaultSetMapOptions();
    private bool disabled => overlay || mapContainer == null;
    private readonly EnumList<MapEventType> mapEvents = new();
    private readonly MouseDisplay mouseDisplay = new();
    private IAzureMapContainer? mapContainer;
    private bool addMapEvents;

    protected override void OnInitialized()
    {
        //First symbol.
        var camera = options.Camera!.Camera!;
        camera!.Center = new Position(-122.18822, 47.63208);

        //Mouse Events
        mapEvents.AddValues(
            MapEventType.Click,
            MapEventType.MouseMove,
            MapEventType.MouseOut);
    }

    private async Task OnMapReady(IAzureMapContainer mapContainer)
    {
        try
        {
            await Task.CompletedTask;
            this.mapContainer = mapContainer;
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, null);
            ToastService.Error(ex);
        }
    }

    private async Task OnMapEventMouse(MapEventMouseArgs e)
    {
        try
        {
            await Task.CompletedTask;

            switch (e.Type)
            {
                case MapEventType.Click:
                    ToastService.Info($"OnMapEventMouse: Event={e.Type} Position={e.Payload?.Mouse?.Position}");
                    break;
                case MapEventType.MouseMove:
                case MapEventType.MouseOut:
                    mouseDisplay.SetValues(e);
                    break;
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, null);
            ToastService.Error(ex);
        }
    }

    private async Task ResetMap()
    {
        try
        {
            if (mapContainer == null) return;

            await OnMapEventsCheckedChanged(false);
            mouseDisplay.SetValues(null);
            await mapContainer.Configuration.SetMapOptions(options);

        }
        catch (Exception ex)
        {
            Logger.LogError(ex, null);
            ToastService.Error(ex);
        }
    }

    private async Task OnMapEventsCheckedChanged(bool value)
    {
        try
        {
            var events = mapEvents.Items.Select(e => new MapEventDef(e, MapEventTarget.Map));

            if (value)
            {
                await mapContainer!.Maps.AddEvents(events);
                addMapEvents = true;
                ToastService.Info("Map events were added.");
            }
            else
            {
                await mapContainer!.Maps.RemoveEvents(events);
                addMapEvents = false;
                ToastService.Info("Map events were removed.");
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, null);
            ToastService.Error(ex);
        }
    }

    private class MouseDisplay
    {
        public Pixel? Pixel { get; private set; }
        public Position? Position { get; private set; }
        public List<MapEventShape>? Shapes { get; private set; }

        public void SetValues(MapEventMouseArgs? e)
        {
            switch (e?.Type)
            {
                case MapEventType.MouseOut:
                    Pixel = null;
                    Position = null;
                    Shapes = [];
                    break;
                default:
                    Pixel = e?.Payload?.Mouse?.Pixel;
                    Position = e?.Payload?.Mouse?.Position;
                    Shapes = e?.Payload?.Mouse?.Shapes ?? [];
                    break;
            }
        }
    }
}
