@inject ILogger<BasicMapsS> Logger
@inject IToastService ToastService
@inject IDialogService DialogService
@inject IMapDataService DataService
@inject IGeolocationService GeolocationService
@inject IAzureMapsXmlService XmlService

<PageTitle>Basic Maps</PageTitle>

<FluentLayout>
	<MapPageHeader Header="Basic Maps" LayerDef="@layerDef" HRefSource="@hRefSource" @bind-ShowNarrative="@showNarrative">
		<FluentLabel>
			<FluentLabel>
				This example demonstrates the basic Azure Map layers and the 
				<a href="https://www.nuget.org/packages/Marqdouj.DotNet.AzureMaps.UI" target="_blank">UI Companion library</a> NuGet package.
				<br />
				NOTE: The companion UI library is not required to use the Azure Maps package.
			</FluentLabel>
			<FluentCheckbox @bind-Value="@useUI">Use Companion UI Library</FluentCheckbox>
			<br />
			<br />
			The map is initialized to a specific camera position (Seattle, WA), with some common map controls.
			<br />
			Use the "Reset Map" button to reset the map to its initial state.
			<br /><br />
			Click on a layer button to add that type of layer to the map.
			<br /><br />
			If the Symbol layer is loaded, you can use the "Get Current Location" button to add a marker at your current geolocation position (if permission is granted).
			<br />
			The 'GeolocationService' is provided from the <a href="https://www.nuget.org/packages/Marqdouj.DotNet.Web.Components" target="_blank">Marqdouj.dotnet.web.components</a> NuGet package.
		</FluentLabel>
    </MapPageHeader>

	<FluentToolbar>
		<FluentButton Disabled="@disabled" IconStart="@(new Icons.Regular.Size20.ArrowReset())" Title="Reset Map" OnClick="@ResetMap" />
		<FluentSpacer Width="8" />
		<FluentButton Disabled="@disabled" IconStart="@(new Icons.Regular.Size20.Camera())" Title="Camera" OnClick="@SetMapCameraOptions" />
		<FluentButton Disabled="@disabled" IconStart="@(new Icons.Regular.Size20.TextEditStyle())" Title="Style" OnClick="@SetMapStyleOptions" />
		<FluentButton Disabled="@disabled" IconStart="@(new Icons.Regular.Size20.VehicleCar())" Title="Traffic" OnClick="@SetMapTrafficOptions" />
		<FluentSpacer Width="8" />
		<FluentButton Disabled="@isSymbolLayerDisabled" IconStart="@(new Icons.Regular.Size20.GlobeSearch())" Title="Get Current Location" OnClick="@GetCurrentPosition" />
		@{
			foreach (var layerType in Enum.GetValues<MapLayerType>().Where(e => e != MapLayerType.Unknown))
			{
				<FluentButton Disabled="@disabled" IconStart="@(new Icons.Regular.Size20.Map())" Title="@(layerType.ToString())" OnClick="@(() => AddMapLayer(layerType))">
					@layerType.ToString()
				</FluentButton>
			}
		}
	</FluentToolbar>

    <FluentTabs ActiveTabId="@activeTab">
        <FluentTab Id="@tabMap" Label="Map">
            <AzureMap Height="@mapHeight"
                      Width="@mapWidth"
                      Controls="@MapHelpers.GetDefaultControls()"
					  OnMapReady="@OnMapReady"
                      Options="@MapHelpers.GetDefaultCreateMapOptions()" />
        </FluentTab>
        <FluentTab Id="@tabSettings" Label="Settings">
            <div style="height:25rem;width:100%;">
                <UILayerDefValues Model="@layerDef" Height="22rem" />
            </div>
		</FluentTab>
    </FluentTabs>
</FluentLayout>

<FluentOverlay @bind-Visible="@overlay"
			   Transparent="false">
	<FluentProgressRing />
</FluentOverlay>

@code {
	private bool overlay;
	private bool showNarrative = true;
	private bool showNarrativeFirstTime = true; 
	private string hRefSource => nameof(BasicMapsS).ToMapPageSource();
	private const string tabMap = "tabMap";
	private const string tabSettings = "tabSettings";
	private string? activeTab = tabMap;
	private string mapHeight = "400px";
	private string mapWidth = "100%";
	private MapLayerDef? layerDef;
	private bool disabled => overlay || mapContainer == null;
	private bool isSymbolLayer => layerDef != null && layerDef.LayerType == MapLayerType.Symbol;
	private bool isSymbolLayerDisabled => disabled || !isSymbolLayer;
	private bool useUI = true;
	private IAzureMapContainer? mapContainer;

	private async Task OnMapReady(IAzureMapContainer mapContainer)
	{
		try
		{
			await Task.CompletedTask;
			this.mapContainer = mapContainer;
		}
		catch (Exception ex)
		{
			Logger.LogError(ex, null);
			ToastService.Error(ex);
		}
	}

	private void UpdateShowNarrative()
	{
		if (showNarrativeFirstTime)
		{
			showNarrativeFirstTime = false;
			showNarrative = false;
		}
	}

	private async Task AddMapLayer(MapLayerType layerType)
	{
		try
		{
			if (mapContainer == null) return;

			var uiLayerDef = layerDef?.LayerType == layerType ? layerDef.GetClone() : await layerType.GetDefaultLayerDef(DataService);

			if (useUI)
			{
				var uiModel = uiLayerDef.GetLayerDefUIModel(XmlService);
				var inputs = uiModel.GetInputs();
				var result = await DialogService.ShowInputsDialog($"{layerType} Layer Settings", uiModel);

				if (result.Cancelled)
					return;
			}

			overlay = true;

			await ResetMap();

			layerDef = await mapContainer.AddBasicMapLayer(DataService, uiLayerDef);
			activeTab = tabMap;

			UpdateShowNarrative();
		}
		catch (Exception ex)
		{
			Logger.LogError(ex, null);
			ToastService.Error(ex);
		}
		finally
		{
			overlay = false;
		}
	}

	private async Task SetMapCameraOptions()
	{
		try
		{
			if (mapContainer == null) return;

			var camera = await mapContainer.Configuration.GetCamera();
			var uiModel = new CameraOptionsUIModel(XmlService) { Source = camera.ToCameraOptions() };
			var result = await DialogService.ShowInputsDialog("Camera Settings", uiModel);

			if (result.Cancelled)
				return;

			overlay = true;

			await mapContainer.Configuration.SetCamera(uiModel.Source);
			activeTab = tabMap;

			UpdateShowNarrative();
		}
		catch (Exception ex)
		{
			Logger.LogError(ex, null);
			ToastService.Error(ex);
		}
		finally
		{
			overlay = false;
		}
	}

	private async Task SetMapStyleOptions()
	{
		try
		{
			if (mapContainer == null) return;

			var style = await mapContainer.Configuration.GetStyle();
			var uiModel = new StyleOptionsUIModel(XmlService) { Source = style };
			var result = await DialogService.ShowInputsDialog("Style Settings", uiModel);

			if (result.Cancelled)
				return;

			overlay = true;

			await mapContainer.Configuration.SetStyle(uiModel.Source);
			activeTab = tabMap;

			UpdateShowNarrative();
		}
		catch (Exception ex)
		{
			Logger.LogError(ex, null);
			ToastService.Error(ex);
		}
		finally
		{
			overlay = false;
		}
	}

	private async Task SetMapTrafficOptions()
	{
		try
		{
			if (mapContainer == null) return;

			var traffic = await mapContainer.Maps.GetTraffic();
			var uiModel = new TrafficOptionsUIModel(XmlService) { Source = traffic };
			var result = await DialogService.ShowInputsDialog("Traffic Settings", uiModel);

			if (result.Cancelled)
				return;

			overlay = true;

			await mapContainer.Maps.SetTraffic(uiModel.Source);
			activeTab = tabMap;

			UpdateShowNarrative();
		}
		catch (Exception ex)
		{
			Logger.LogError(ex, null);
			ToastService.Error(ex);
		}
		finally
		{
			overlay = false;
		}
	}

	private async Task ResetMap()
	{
		try
		{
			if (mapContainer == null) return;

			if (layerDef != null)
			{
				await mapContainer.Layers.RemoveLayer(layerDef);
				layerDef = null;
			}

			await mapContainer.Configuration.SetMapOptions(MapHelpers.GetDefaultSetMapOptions());
		}
		catch (Exception ex)
		{
			Logger.LogError(ex, null);
			ToastService.Error(ex);
		}
	}

	private async Task GetCurrentPosition()
	{
		try
		{
			if (!isSymbolLayer)
				return;

			overlay = true;

			var geolocation = await GeolocationService.GetCurrentPosition();

			if (geolocation != null)
			{
				if (geolocation.IsSuccess)
				{
					var coordinates = geolocation.Position!.Coords!;
					var position = new Position(coordinates.Longitude, coordinates.Latitude);
					var feature = new MapFeatureDef(new Point(position))
					{
						Id = "geoLocation",
						Properties = new Properties
						{
							{ "title", "Current Location" },
						}
					};
					await mapContainer!.Layers.AddMapFeature(feature, layerDef!.DataSource.Id, true);
					await mapContainer.Configuration.ZoomTo(position, 15);
					ToastService.Info($"Current Location: {position}");
				}
				else
				{
					var errMsg = $"Geolocation service failed. {geolocation.Error?.Message}";
					Logger?.LogError(errMsg);
					ToastService?.Error(errMsg);
				}
			}
			else
			{
				var warnMsg = $"Geolocation service returned null.";
				Logger?.LogWarning(warnMsg);
				ToastService?.Warning(warnMsg);
			}
		}
		catch (Exception ex)
		{
			Logger.LogError(ex, null);
			ToastService.Error(ex);
		}
		finally
		{
			overlay = false;
		}
	}
}
