@using DemoApp.CustomMaps
@using Marqdouj.DotNet.AzureMaps
@using Marqdouj.DotNet.AzureMaps.Map.Events
@using Marqdouj.DotNet.AzureMaps.Map.Interop
@using Marqdouj.DotNet.AzureMaps.Map.Configuration
@using Marqdouj.DotNet.Web.Components.FluentUI.Extensions
@using Microsoft.Extensions.Logging
@using Microsoft.JSInterop
@implements IAsyncDisposable
@inject IJSRuntime JSRuntime
@inject ILogger<CustomMapsS> Logger
@inject IToastService ToastService

<PageTitle>Custom Map</PageTitle>

<FluentLayout>
    <MapPageHeader Header="@header" LayerDef="@null" HRefSource="@hRefSource">
        <FluentLabel>
            This example demonstrates how add custom functionality to the Azure Map created using the 
            <a href="https://www.nuget.org/packages/Marqdouj.DotNet.AzureMaps" target="_blank">Marqdouj.DotNet.AzureMaps</a> library in a Blazor application.
            <br />
            <a href="@hRefCustomMaps" target="_blank">CustomMaps Source</a>
            <br />
            <br />
            The map is initialized to a specific camera position (Seattle, WA), with no map controls.
            <br />
            Use the "Reset Map" button to reset the map to its initial state.
            <br />
			Three 'interop' buttons allow you to check for map access, add controls, or remove controls using 
            <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability" target="_blank">JS Interop</a>
        </FluentLabel>
    </MapPageHeader>

    <FluentToolbar>
        <FluentButton Disabled="@disabled" IconStart="@(new Icons.Regular.Size20.ArrowReset())" Title="Reset Map" OnClick="@ResetMap" />
        <FluentSpacer Width="5" />
        <FluentButton Disabled="@disabled" IconStart="@(new Icons.Regular.Size20.Map())" Title="Check for map access using JS Interop" OnClick="@CheckForMap" />
        <FluentButton Disabled="@disabled" IconStart="@(new Icons.Regular.Size20.DesignIdeas())" Title="Add Controls" OnClick="@AddControls" />
        <FluentButton Disabled="@disabled" IconStart="@(new Icons.Regular.Size20.ClearFormatting())" Title="Remove Controls" OnClick="@RemoveControls" />
    </FluentToolbar>

    <FluentStack Orientation="Orientation.Vertical">
        <AzureMap Id="@MapId"
                  Height="@mapHeight"
                  Width="@mapWidth"
                  OnMapReady="@OnMapReady"
                  Options="@MapHelpers.GetDefaultCreateMapOptions()" />
    </FluentStack>
</FluentLayout>

<FluentOverlay @bind-Visible="@overlay"
               Transparent="false">
    <FluentProgressRing />
</FluentOverlay>

@code {
    private const string MapId = "customMap"; // This is optional.
    private string hRefSource => nameof(CustomMapsS).ToMapPageSource();
    private string hRefCustomMaps => "DemoCustomMaps.cs".ToMapCustomSource();
    private readonly string header = "Custom Map (JS Interop)";
    private string mapHeight = "400px";
    private string mapWidth = "100%";
    private bool overlay;
    private bool disabled => overlay || mapInterop == null;
    private IAzureMapContainer? mapInterop;
    private DemoCustomMaps? customMaps;

    protected override void OnInitialized()
    {
        customMaps = new DemoCustomMaps(JSRuntime);
    }

    private async Task OnMapReady(IAzureMapContainer mapContainer)
    {
        try
        {
            await Task.CompletedTask;
            mapInterop = mapContainer;
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, null);
            ToastService.Error(ex);
        }
    }

    private async Task ResetMap()
    {
        try
        {
            await mapInterop!.Configuration.SetMapOptions(MapHelpers.GetDefaultSetMapOptions());
            _= await customMaps!.RemoveControls(mapInterop.MapId);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, null);
            ToastService.Error(ex);
        }
    }

    private async Task CheckForMap()
    {
        try
        {
            var exists = await customMaps!.MapExists(mapInterop!.MapId);
            ToastService.Info($"Check for map access: {exists}");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, null);
            ToastService.Error(ex);
        }
    }

    private async Task AddControls()
    {
        try
        {
            var msg = await customMaps!.AddControls(mapInterop!.MapId);
            ToastService.Info(msg);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, null);
            ToastService.Error(ex);
        }
    }

    private async Task RemoveControls()
    {
        try
        {
            var msg = await customMaps!.RemoveControls(mapInterop!.MapId);
            ToastService.Info(msg);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, null);
            ToastService.Error(ex);
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (customMaps != null)
        {
            await customMaps.DisposeAsync();
			customMaps = null;
        }
    }
}
