@using Marqdouj.DotNet.AzureMaps
@using Marqdouj.DotNet.AzureMaps.Map.Common
@using Marqdouj.DotNet.AzureMaps.Map.Events
@using Marqdouj.DotNet.AzureMaps.Map.GeoJson
@using Marqdouj.DotNet.AzureMaps.Map.Interop
@using Marqdouj.DotNet.AzureMaps.Map.Interop.Features
@using Marqdouj.DotNet.AzureMaps.Map.Interop.Layers
@using Marqdouj.DotNet.AzureMaps.Map.Options
@using Marqdouj.DotNet.AzureMaps.UI.Components
@using Marqdouj.DotNet.AzureMaps.UI.Models.Maps
@using Marqdouj.DotNet.AzureMaps.UI.Services
@using Marqdouj.DotNet.Demo.Shared.Models.AzureMaps
@using Marqdouj.DotNet.Web.Components.Css
@using Marqdouj.DotNet.Web.Components.FluentUI.Extensions
@using Marqdouj.DotNet.Web.Components.Services
@using Microsoft.Extensions.Logging
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject ILogger<BasicMapsS> Logger
@inject IToastService ToastService
@inject IDialogService DialogService
@inject IMapDataService DataService
@inject IGeolocationService GeolocationService
@inject IAzureMapsXmlService XmlService

<PageTitle>Basic Maps</PageTitle>

<FluentLayout>
	<MapPageHeader Header="Basic Maps" LayerDef="@layerDef" HRefSource="@hRefSource" @bind-ShowNarrative="@showNarrative">
		<FluentLabel>
			<FluentLabel>
				This example demonstrates the basic Azure Map layers and the 
				<a href="https://www.nuget.org/packages/Marqdouj.DotNet.AzureMaps.UI" target="_blank">UI Companion library</a> NuGet package.
				<br />
				NOTE: The companion UI library is not required to use the Azure Maps package.
			</FluentLabel>
			<FluentCheckbox @bind-Value="@useUI">Use Companion UI Library</FluentCheckbox>
			<br />
			<br />
			The map is initialized to a specific camera position (Seattle, WA), with some common map controls.
			<br />
			Use the "Reset Map" button to reset the map to its initial state.
			<br /><br />
			Click on a layer button to add that type of layer to the map.
			<br /><br />
			If the Symbol layer is loaded, you can use the "Get Current Location" button to add a marker at your current geolocation position (if permission is granted).
			<br />
			The 'GeolocationService' is provided from the <a href="https://www.nuget.org/packages/Marqdouj.DotNet.Web.Components" target="_blank">Marqdouj.dotnet.web.components</a> NuGet package.
		</FluentLabel>
    </MapPageHeader>

	<FluentToolbar>
		<FluentButton Disabled="@disabled" IconStart="@(new Icons.Regular.Size20.ArrowReset())" Title="Reset Map" OnClick="@ResetMap" />
		<FluentSpacer Width="8" />
		<FluentButton Disabled="@isSymbolLayerDisabled" IconStart="@(new Icons.Regular.Size20.GlobeSearch())" Title="Get Current Location" OnClick="@GetCurrentPosition" />
		@{
			foreach (var layerType in Enum.GetValues<MapLayerType>())
			{
				<FluentButton Disabled="@disabled" IconStart="@(new Icons.Regular.Size20.Map())" Title="@(layerType.ToString())" OnClick="@(() => AddMapLayer(layerType))">
					@layerType.ToString()
				</FluentButton>
			}
		}
	</FluentToolbar>

    <FluentTabs ActiveTabId="@activeTab">
        <FluentTab Id="@tabMap" Label="Map">
            <AzureMap Height="@mapHeight"
                      Width="@mapWidth"
                      Controls="@MapHelpers.GetDefaultControls()"
                      OnMapEventReady="@OnMapEventReady"
                      Options="@options" />
        </FluentTab>
        <FluentTab Id="@tabSettings" Label="Settings">
            <div style="height:25rem;width:100%;">
                <UILayerDefValues Model="@layerDef" Height="22rem" />
            </div>
		</FluentTab>
    </FluentTabs>
</FluentLayout>

<FluentOverlay @bind-Visible="@overlay"
			   Transparent="false">
	<FluentProgressRing />
</FluentOverlay>

@code {
	private bool overlay;
	private bool showNarrative = true;
	private bool showNarrativeFirstTime = true; 
	private string hRefSource => nameof(BasicMapsS).ToMapPageSource();
	private const string tabMap = "tabMap";
	private const string tabSettings = "tabSettings";
	private string? activeTab = tabMap;
	private string mapHeight = "400px";
	private string mapWidth = "100%";
	private MapOptions? options = MapHelpers.GetDefaultMapOptions();
	private MapInterop? mapInterop;
	private MapLayerDef? layerDef;
	private bool disabled => overlay || mapInterop == null;
	private bool isSymbolLayer => layerDef != null && layerDef.Type == MapLayerType.Symbol;
	private bool isSymbolLayerDisabled => disabled || !isSymbolLayer;
	private bool useUI = true;

	private async Task OnMapEventReady(MapEventArgs e)
	{
		try
		{
			await Task.CompletedTask;
			mapInterop = new MapInterop(JSRuntime, e.MapId);
		}
		catch (Exception ex)
		{
			Logger.LogError(ex, null);
			ToastService.Error(ex);
		}
	}

	private async Task AddMapLayer(MapLayerType layerType)
	{
		try
		{
			if (mapInterop == null) return;

			var uiLayerDef = layerDef?.Type == layerType ? layerDef.GetClone() : await layerType.GetDefaultLayerDef(DataService);

			if (useUI)
			{
				var uiModel = uiLayerDef.GetLayerDefUIModel(XmlService);
				var inputs = uiModel.GetInputs();
				var parameters = MapHelpers.GetDefaultDialogParameters($"{layerType} Layer Settings");
				IDialogReference dialog = await DialogService.ShowDialogAsync<UILayerDefInputDialog>(inputs, parameters);
				DialogResult? result = await dialog.Result;

				if (result.Cancelled)
					return;
			}

			overlay = true;

			await ResetMap();

			layerDef = await mapInterop.AddBasicMapLayer(DataService, uiLayerDef);
			activeTab = tabMap;

			if (showNarrativeFirstTime)
			{
				showNarrativeFirstTime = false;
				showNarrative = false;
			}
		}
		catch (Exception ex)
		{
			Logger.LogError(ex, null);
			ToastService.Error(ex);
		}
		finally
		{
			overlay = false;
		}
	}

	private async Task ResetMap()
	{
		try
		{
			if (mapInterop == null) return;

			if (layerDef != null)
			{
				await mapInterop.RemoveLayer(layerDef);
				layerDef = null;
			}

			await mapInterop.Configuration.SetMapOptions(options!);
		}
		catch (Exception ex)
		{
			Logger.LogError(ex, null);
			ToastService.Error(ex);
		}
	}

	private async Task GetCurrentPosition()
	{
		try
		{
			if (!isSymbolLayer)
				return;

			overlay = true;

			var geolocation = await GeolocationService.GetCurrentPosition();

			if (geolocation != null)
			{
				if (geolocation.IsSuccess)
				{
					var coordinates = geolocation.Position!.Coords!;
					var position = new Position(coordinates.Longitude, coordinates.Latitude);
					var feature = new MapFeatureDef(new Point(position))
					{
						Id = "geoLocation",
						Properties = new Properties
						{
							{ "title", "Current Location" },
						}
					};
					await mapInterop!.Layers.AddMapFeature(feature, layerDef!.SourceId, true);
					await mapInterop.Configuration.ZoomTo(position, 15);
					ToastService.Info($"Current Location: {position}");
				}
				else
				{
					var errMsg = $"Geolocation service failed. {geolocation.Error?.Message}";
					Logger?.LogError(errMsg);
					ToastService?.Error(errMsg);
				}
			}
			else
			{
				var warnMsg = $"Geolocation service returned null.";
				Logger?.LogWarning(warnMsg);
				ToastService?.Warning(warnMsg);
			}
		}
		catch (Exception ex)
		{
			Logger.LogError(ex, null);
			ToastService.Error(ex);
		}
		finally
		{
			overlay = false;
		}
	}
}
